*{
	border: 0px;
	padding: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
ul{
	display: block;
	list-style: none;
	background-color: green;
	height: 40px;
}
ul li a{
	text-decoration: none;
	color: black;
	display: block;
	white-space: nowrap;
}
ul li{
	float: left;
	width: 10%;
	background-color: greenyellow;
	height: 20px;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;	
}
li ul{
	display: none;
}
ul li a:hover{
	background-color: darkseagreen;
}
li:hover>ul{
	display: block;
	position: absolute;
}